<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="musicBean" class="ru.maxima.spring.player.RockMusic">
    </bean>

    <bean id="musicPlayer" class="ru.maxima.spring.player.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="SomeName"/>
        <property name="volume" value="50"/>
    </bean>

</beans>